{% extends 'base.html' %}

{% block 'title' %}add_task{% endblock %}

{% block 'body' %} 
<div class="container-fluid">
    <div class="col-md-10">
        <form method="POST" class='add-task-form'> <!-- mandar pra msm url-->
            {% csrf_token %}
            <div lass="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" placeholder="description">
            </div>
            <button type="submit" class="btn btn-primary">
                criar task
            </button>
        </form>
    </div>
</div>
{% endblock %}
